@font-face {
    font-family: 'DotMatrix';
    src: url('DOTMATRI.TTF');
}

body {
    background-color: #000;
}

#timetable tr, #timetable td, #timetable th {
    text-align: left;
    color: #ff9729;
}

#timetable {
    width: 70%;
    font-size: 17.5px;
    font-family: 'DotMatrix';
}

#inputbox {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1%;
    margin-bottom: 1%;
    text-align: center;
    display: block;
    color: #ff9729;
    font-size: 17.5px;
    font-family: 'DotMatrix';
    background-color: #000;
    border: none;
    outline: none;
    overflow: hidden;
}

#scroll-container {
    margin: auto;
    width: 70%;
    /*width: 700px;*/
    overflow: hidden;
}

#scroll-text {

    color: #ff9729;
    font-size: 17.5px;
    font-family: 'DotMatrix';

  /* animation properties */
  -moz-transform: translateX(100%);
  -webkit-transform: translateX(100%);
  transform: translateX(100%);

  -moz-animation: my-animation 30s linear infinite;
  -webkit-animation: my-animation 30s linear infinite;
  animation: my-animation 30s linear infinite;
}

#scroll-text-2 {

  color: #ff9729;
  font-size: 17.5px;
  font-family: 'DotMatrix';

/* animation properties */
-moz-transform: translateX(100%);
-webkit-transform: translateX(100%);
transform: translateX(100%);

-moz-animation: my-animation 15s linear infinite;
-webkit-animation: my-animation 15s linear infinite;
animation: my-animation 15s linear infinite;
}

/* for Firefox */
@-moz-keyframes my-animation {
  from { -moz-transform: translateX(100%); }
  to { -moz-transform: translateX(-100%); }
}

/* for Chrome */
@-webkit-keyframes my-animation {
  from { -webkit-transform: translateX(100%); }
  to { -webkit-transform: translateX(-100%); }
}

@keyframes my-animation {
  from {
    -moz-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
  to {
    -moz-transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}
